*{
    margin:0;
    padding:0;
}
/*HEADER SECTION*/
header{
    background-color: #1F2937;
    color: white;
}
.flex-header-one{
    display:flex;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
}
.flex-header-two{
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;

}
ul{
    list-style: none;
    display: flex;
}
.right-links{
    margin-left: auto;
    gap: 15px;
    font-size: 18px;
    color:  #E5E7EB;
    align-items: center;
}
.flex-header-two h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}
.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}
 .flex-header-two button{
    background-color: #3882F6;
    color: white;
    padding: 5px 20px;
    margin-top: 10px;
    margin-left: 5px;
    border-style: none;   
    border-radius: 5px;
    font-weight: 600;
}
.flex-header-two img{
    width: 450px;
}

/*MAIN SECTION*/
.header-main{
    font-size: 33px;
    text-align: center;
    font-weight: bolder;
    padding: 20px;
    color: #1F2937 
}
.rose-images{
    display:flex;
}
.rose-images img{
    width: 250px;
    height: 150px;
    border-radius: 25px;
}
.rose-images p{
    font-size: 18px;
    text-align: center;
}
.rose-one , .rose-two, .rose-three, .rose-four{
  flex:1;
  padding: 30px;
  margin: 3px;
  width: 250px;
  height: 300px;
}
/*MAIN SECTION: QUOTES*/
.flex-quotes{
    background-color: #E5E7EB;
    padding: 50px 120px;
}
.flex-quotes p{
    font-size: 36px;
    text-align: justify;
}
.author p{
    font-size: 18px;
    text-align: right;
    font-weight: 600;
}

/*MAIN SECTION: BOTTOM*/
.bottom{
    width: 700px;
    display: flex;
    background-color: #3882F6;
    color: white;
    margin: 60px 60px;
    padding: 40px 80px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.bottom button{
    margin-left: auto;
    padding: 5px 20px;
    background-color: #3882F6;
    border: white 2px solid;
    color: white;
    border-radius: 5px;
}
/*FOOTER*/
.flex-footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
    margin-top: auto;
}
